@charset "utf-8";

body {
	width: 960px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

#pequeno {
	width: 260px;
	float: left;
  	padding: 0;
  	margin: 0;
}

#grande {
	width: 700px;
	float: left;
  	padding: 0;
  	margin: 0;
}

#libro {
	list-style-type: none;
	padding: 0;
}

#libro li {
	float: left;
	width: 33%;
}