@charset "utf-8";

body {
	width: 80%;
	margin: 0 auto;
}

h1{
	text-align: center;
}

#pequeno {
	width: 25%;
	float: left;
  	padding: 0;
  	margin: 0;
}

#grande {
	width: 75%;
	float: left;
  	padding: 0;
  	margin: 0;
}

#libro {
	list-style-type: none;
	padding: 0;
}

#libro li {
	float: left;
	width: 33%;
}

@media only screen and (max-width: 1200px) and (min-width: 600px)
{
}

@media only screen and (max-width: 600px)
{
}

@media only screen and (min-width: 1200px)
{
}